body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: rgb(223,240,148);
    background: linear-gradient(0deg, rgba(223,240,148,0.48082983193277307) 15%, rgba(255,255,255,1) 52%);

}